.box{
    height: 150px;
    width: 1350px;
    border: 2px solid black;
    background-color: black;
    display: flex;
    flex-wrap: row wrap;

    
}
.box1{
    height: 50px;
    width: 60px;
    background-color: black;
}
#txt{
    font-family: 'Poppins', sans-serif;
    font-size:small;
    font-weight: 700;
    color: aliceblue;
}
